





body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2; /* Set the background color to the color of the paper */
animation: shinyAnimation 3s ease-in-out infinite;
}

        @keyframes shinyAnimation {
  0% {
    background-color: #f2f2f2 ; /* Baby blue */
    box-shadow: 0 0 20px #add8e6; /* Add a subtle shadow for a shiny effect */
  }
  50% {
    background-color: rgba(216, 234, 255, 0.3); /* Light blue */
    box-shadow: 0 0 20px #add8e6;
  }
  100% {
    background-color: #f2f2f2 ; /* Baby blue */
    box-shadow: 0 0 20px #add8e6;
  }
}

.network-animation {
    position: fixed;
    top: 150px;

    left: 0;
    width: 100%;
    height: 100%;
  }

  .circle {
    fill: darkblue; /* Gray color */
  opacity: 0.3;
  animation: networkAnimation 10s linear infinite;
}
    
@keyframes networkAnimation {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(50px, 50px);
  }
  50% {
    transform: translate(-50px, -50px);
  }
  75% {
    transform: translate(-50px, 50px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.line {
  stroke: darkblue; /* Gray color for the lines */
  opacity: 0.5;
  stroke-width: .2px;
}
.top-bar {
            background-color: black;
            height: 56px;
            display: flex;
            align-items: center;
            padding: 0 10px;
}

        .logo {
            width: 50px;
            height: 50px;
            background-image:url("../photo/micropolis.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: 15px;
        }

        #data {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-gap: 10px;
            justify-items: center;
            padding: 10px;
        }
        .sensor{
            width: 200px;
            height: 200px;
            margin: 3px;
            /*background-color: rgba(249, 249, 249, 0.3);*/
            background-color: #f2f2f2; /* Set the background color to the color of the paper */

            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
        .actuator {
            width: 200px;
            height: 200px;
            margin: 3px;
            /*background-color: rgba(249, 249, 249, 0.3);*/
            background-color: #f2f2f2;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
        .sensor:hover,
        .actuator:hover {
  background-color: #C1D9F3; /* Baby blue color for hover */
}

        .sensor-name,
        .actuator-name {
            font-weight: normal;
            text-align: left !important;
            font-size: 16px;
            background-color: rgba(198, 198, 198, 0.1);
            position: relative;
            display: inline-block;
            padding: 4px 10px; /* Adjust the padding values to control the height */
            border-radius: 20px; /* Adjust the border-radius value to control the circular shape */
            font-family: "Arial", sans-serif; /* Replace with your desired font family */
            line-height: 1; /* Adjust the line-height value to control the height */
        }

        .sensor-name:after,
        .actuator-name:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.2); /* Replace with your desired line color */
            transition: background-color 0.3s ease; /* Transition for hover effect */
        }

        .sensor-name:hover:after,
        .actuator-name:hover:after {
            background-color: rgba(0, 0, 0, 0.5); /* Replace with your desired hover line color */
        }

        .sensor-value,
        .actuator-value {
            margin-top: 2px;
            padding: 5px;
            text-align: center;
        }

        .last-updated {
            display: none;
            margin-top: 3px;
            text-align: center;
        }

        .sensor-icon,
        .actuator-icon {
            padding: 10px;
            font-size: 64px;
            margin-bottom: 5px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .actuator-icon-on {
            color: red;
        }

        .actuator-icon-off {
            color: black;
        }

        .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

        .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 400px;
    }

        .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

        .close:hover,
        .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
        .add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #6FABF0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */

  /* Add a gradient background */
  background-image: linear-gradient(to bottom, #6FABF0, #357AE8);
}

.add-button:hover {
  background-color: #357AE8; /* Change the background color on hover */
}

        .plus-icon {
    color: white;
    font-size: 24px;
  }
        .delete-button {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
}
        #loading-div {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

        .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

        @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
        .success-message {
  display: none;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border: 1px solid;
}

        .success {
  color: green;
  background-color: #eaffea;
  border-color: #8bc78b;
}

        .error {
  color: red;
  background-color: #ffeaea;
  border-color: #c78b8b;
}


        .success-delete {
  color: green;
  background-color: #eaffea;
  border-color: #8bc78b;
}

        .error-delete {
  color: red;
  background-color: #ffeaea;
  border-color: #c78b8b;
}



.keypad {
  display: none;
}

.keypad-row {
  display: flex;
  justify-content: center;
}

.key {
  width: 60px;
  height: 60px;
  border: 8px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 4px;
}

li.selected {
  background-color: lightgray;
}